    .divform {
        width: 680px;
        background-color: rgb(148, 133, 202);
        padding: 10px;
        margin: 0 auto;

    }

    .divform fieldset {
        border: none;
    }

    .label {
        font-size: 20px;
        padding: 8px 0 6px 0;
        border: 1px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }

    .divform input[type=text],
    .divform input[type=email] {
        width: 100%;
        padding: 10px;
        margin: 6px 0;
        box-sizing: border-box;
        border: 1 px solid #470864;
        border-radius: 4px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
    }

    .divform input[type=radio] {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        margin-left: 20px;

    }

    .divform input[type=text]:focus,
    .divform input[type=email]:focus,
    .divform select:focus,
    .mytextarea:focus {
        border: 3px solid #ff3c3c;
    }
x       
    .label-radio {
        display: inline;
        padding: 10px;
        color: #470864;
        font-size: 18px;
    }

    .divform select {
        width: 100px;
        padding: 9px;
        border: 1px solid #b30eff;
        border-radius: 2px;
        font-size: 12px;
        color: blueviolet;
        font-family: 'Courier New', Courier, monospace;
    }

    .mytextarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #470864;
        border-radius: 4px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        resize: none;
    }

    .botoes {
        background-color: #753f8f;
        color: aliceblue;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 4px;
        cursor: pointer;

    }

    .botoes:hover {
        background-color: aliceblue;
        color: #753f8f;
    }

    .dados {
        width: 100px;
    }
    .coluna {
        width: 100%;
        display: inline-block;
        margin-left: 4px;
    }

